.products{
  border: 2px solid black;
  border-radius: 25px;
  background-color: azure;
  display: flex;
  flex-wrap:wrap;
  margin: 70px;
  padding: 40px;
}

.singleproduct{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  width: 240px;
  
  


}

.account{
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin: 0px 200px;
  height:900px;
}

.bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img{
  border-radius: 50%;
  width: 120px;
  height: 100px;
}

p, .navbar{
  font-size: 40px;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  margin: 5px ;
  color: black;
}

a:hover{
  text-decoration: underline;
}

button{
  width: 220px;
  height:60px;
  margin: 5px;
}