.products{
  border: 2px solid black;
  border-radius: 25px;
  background-color: #173b41;
  display: flex;
  flex-wrap:wrap;
  margin: 70px;
  padding: 40px;
}

.singleproduct{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  width: 240px;
  
  


}

.account{
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin: 0px 200px;
  height:900px;
  background-color:#173b41 ;
}

.bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img{
  border-radius: 50%;
  width: 120px;
  height: 100px;
}

p, .navbar,h2,a,img{
  font-size: 40px;
  color: #ecceac;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  margin: 5px ;
}

a:hover{
  text-decoration: underline;
}

button{
  width: 220px;
  height:60px;
  margin: 5px;
  background-color: #2d0724;
  color: #ecceac;
  font-size: 20px;
}
.loginbox{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 450px;
  margin: 300px 500px;
  border-radius: 25px;
  background-color: #173b41;
}
input{
  margin: 10px;
}

form  button, .bottompage{
  margin: 150px,0px;
  background-color: #e9daaf;
  background-color: #2d0724;
  color: #ecceac;
}


body{
  background-color:#14222f;
}

.bars{
  display: flex;
  justify-content: space-around;
}
.textcenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2{
  display: flex;
  justify-content: center;
}

.image{
  width: 250px;
  height: 300px;
}